<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间mapper,如果有多个mapper文件，这个必须唯一 -->
<mapper namespace="model">
    <!--    获取登录接口case-->
    <select id="loginCase" parameterType="Integer" resultType="model.LoginCase">
        select * from logincase where id=#{id}
    </select>
    <!--    获取新增部门接口case-->
    <select id="addDepartmentCase" parameterType="Integer" resultType="model.AddDepartmentCase">
        select * from adddepartmentcase where id=#{id}
    </select>


</mapper>